doctype html
html 
  head 
    meta(charset="utf-8")
    title Mini-Landing 
    meta(name="description" content="ThriveTalk")
  body 
    .container
      .text-wrapper
        h1 Why Thrive?
        p 
          | Want to improve your well-being from the comfort 
          | of your own couch? Are you having trouble finding 
          | the right therapist? 
          span Here at ThriveTalk, our licensed 
            | therapists provide the same quality care you would get in office 
            | from anywhere you can access your laptop or mobile phone. 
            | Become your best self with ThriveTalk.  Start therapy now with a 
            | licensed therapist!
      img(src=require("./static/img/img.jpg"))